.App {
  font: 'Century Gothic', Helvetica, Arial, sans-serif;
}

.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-tabla-credito {								                /***** Tabla credito *****/
  margin-left: -47vw;
}
.App-tabla-logo {
  position: absolute;
  top: 0;
  right: 45%;
  left: auto;
}
.App-logo {                                       /***** Logo *****/
  height: 60px;
  pointer-events: none;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}
.App-header h1,h2 {								                /***** Titulo header *****/
  font: 10px 'Century Gothic', Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-size: calc(10px + 2vmin);
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  position: static;
}


.App-link {
  color: #61dafb;
}

.App-nav {
  position: absolute;
  display: inline-flex;
  list-style-type: none;
  top: 20px;
  right: 50px;
}
.App-nav-item {
  width: calc(55px + 5vw);
  padding: 10px 0 10px 0;
  background-color: darkred;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.App-body {
  background-color: #282c34;
  min-height: 710px;
  font-size: calc(10px + 2vmin);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  background: url("/public/fondoVerde.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}
.App-body table {
  margin-left: auto;
  margin-right: auto;
}

.App-body-divTablero {
  width: 100%;
  text-align: center;
}
.App-body-divJuego {
  width: 100%;
  text-align: center;
}

/**** Tabla crédito, apuesta, ganancia y acumulado **************/
.tabla-credito {
  background-color: #282c34;
  width: 100%;
  text-align: center;
  font-size: calc(10px + 2vmin);
}
.iconoMonedaTablero {
  color: gold;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}
.iconoBilleteTablero {
  color: #00bb00;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}
input[type='number'] {
  width: 98%;
  height: inherit;
  font-size: inherit;
  text-align: center;
  background-color: transparent;
  color: inherit;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  opacity: 1;
  height: calc(12px + 3vmin);
  cursor: pointer;
  padding: 0 15px 0 15px;
}

/************** Botones **************/
.App-body button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  cursor: pointer;
}
.boton-jugar {
  color: #fff;
  background-color: darkred;
  padding: 12px 120px 12px 120px;
  font-size: calc(10px + 2vmin);
  width: 100%;
  cursor: pointer;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}


@media screen and (max-width: 600px) {
  .App-logo {                                       /***** Logo *****/
    height: 30px;
  }
  .App-header h1,h2 {								                /***** Titulo header *****/
    font-size: calc(6px + 1vmin);
  }
  .tabla-credito {
    font-size: calc(6px + 1vmin);
  }
  .boton-jugar {
    padding: 12px 60px 12px 60px;
    font-size: calc(8px + 1vmin);
  }
}


