.itemVideopoker {                       /*Imagenes */
  width: 12vw;
  height: 15vh;
  background-color: #fff;
}
.espacio {
  width: 0vmin;
}

.Tabla-juego {                        /* Tabla de las cartas */
  font-size: 6vw;
  border-collapse: collapse;
}
.Tabla-juego td{
  padding: 0 20px 0 20px;
}
.container-juego{                     /* Marco de las cartas */
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #174761;
  padding: 10px 10px 10px 10px;
}
.container-juego .container{
  overflow:hidden;
  text-align:center;
  background: url("/public/fondoAzul.jpg") ;
  padding: 20px 20px 20px 20px;
}

.Tabla-boton {                        /* Tabla de la alerta y el botón */
  font-size: 6vw;
  border-collapse: collapse;
}
.cuadro-alerta {
  border-style: groove;
  border-color: gray;
  background-color: black;
  padding: 0 40px 0 40px;
}


@media screen and (max-width: 1024px) {
  .Tabla-juego {                        /* Tabla de las cartas */
    font-size: 3vw;
  }
}

@media screen and (max-width: 640px) {
  .Tabla-juego {                        /* Tabla de las cartas */
    font-size: 4vw;
  }
  .Tabla-juego td{
    padding: 0 8px 0 8px;
  }
  .itemVideopoker {                       /*Imagenes */
    height: 10vh;
  }
}


