.tablaJuego {
  background-color: #a00;
  border: 1px solid #000;
  background: url("/public/fondoRojo.jpg") no-repeat;
  background-size: cover;
}
.itemSietes {                 /*Imagenes */
  width: 120px;
  background-color: transparent;
  padding: 10px 0px 0px 0px;
  filter: drop-shadow(4px 4px #fff);
}



.marquee-wrapper{                     /* Marco de las cartas */
  display: inline-flex;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-color: darkred;
  padding: 10px 10px 10px 0;
}
.marquee-wrapper .container{
  overflow:hidden;
  text-align:center;
}
.marquee-inner span{
  height:50%;
}
.marquee-wrapper .marquee-block{
  width: 270px;
  height: 470px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  margin: 0px 0px 0px 10px;
  background: darkred;
  background: url("/public/fondoRojo.jpg") no-repeat;
  background-size: cover;
}
.marquee-inner{
  display: block;
  position: absolute;
}
.marquee-inner.to-bottom{
  animation: marqueeBottom 0.3s linear;
  -webkit-animation: marqueeBottom 0.3s linear;
  -moz-animation: marqueeBottom 0.3s linear;
  -o-animation: marqueeBottom 0.3s linear;
}
.marquee-item{
  width: 260px;
  height: 160px;
  display: block;
  margin:0 3.5px 0 3.5px;
  transition: all .2s ease;
}
@keyframes marqueeBottom{
  0% { top: -100%; }
  100% { top: 0; }
}
@-webkit-keyframes marqueeBottom{
  0% { top: -100%; }
  100% { top: 0; }
}
@-moz-keyframes marqueeBottom{
  0% { top: -100%; }
  100% { top: 0; }
}
@-o-keyframes marqueeBottom{
  0% { top: -100%; }
  100% { top: 0; }
}


.tabla-premios {
  background-color: #282c34;
  width: 100%;
  text-align: center;
  font-size: calc(8px + 2vmin);
}
.itemPremios {
  width: 30px;
  background-color: transparent;
  padding: 5px 0px 0px 0px;
  filter: drop-shadow(1px 1px #fff);
}


@media screen and (max-width: 1400px) {
  .marquee-wrapper .marquee-block{
    width: 210px;
    height: 280px;
  }
  .marquee-item{
    width: 140px;
    height: 90px;
  }
  .itemSietes {                 /*Imagenes */
    width: 80px;
  }
}

@media screen and (max-width: 640px) {
  .marquee-wrapper .marquee-block{
    height: 210px;
    margin: 0px 0px 0px 5px;
  }
  .marquee-item{
    width: 65px;
    height: 70px;
    margin:0 0 0 0;
  }
  .itemSietes {                 /*Imagenes */
    width: 40px;
    filter: drop-shadow(2px 2px #fff);
  }
}








