.itemVideopoker {                       /*cartas */
  width: 17vw;
  height: 15vh;
  background-color: #fff;
  font-weight: bolder;
  text-shadow: none;
}
.espacio {
  width: 0vmin;
}

.Tabla-juego {                        /* Tabla de las cartas */
  font-size: 6vw;
  border-collapse: collapse;
}
.Tabla-juego td{
  padding: 5px 12px 5px 12px;
}
.container-juego{                     /* Marco de las cartas */
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #174761;
  padding: 10px 10px 10px 10px;
}
.container-juego .container{
  overflow:hidden;
  text-align:center;
  background: url("/public/fondoAzul.jpg") ;
  padding: 55px 40px 55px 40px;
}
.tabla-credito td{
  padding: 5px 0 5px 0;
}
.Tabla-apuesta {                        /* Tabla de la alerta y el botón */
  font-size: 6vw;
  border-collapse: collapse;
}
.cuadro-alerta {
  border-style: groove;
  border-color: gray;
  background-color: black;
  padding: 0 40px 0 40px;
}


@media screen and (max-width: 1400px) {
  .Tabla-juego {                        /* Tabla de las cartas */
    font-size: 4vw;
  }
  .Tabla-juego td{
    padding: 0 10px 0 10px;
  }
  .container-juego .container{
    padding: 25px 20px 25px 20px;
  }
  .itemVideopoker {                       /*cartas */
    width: 18vw;
    height: 16vh;
  }
}

@media screen and (max-width: 640px) {
  .Tabla-juego {                        /* Tabla de las cartas */
    font-size: 6vw;
  }
  .Tabla-juego td {
    padding: 0 2px 0 2px;
  }
  .container-juego .container{
    padding: 25px 10px 25px 10px;
  }
  .itemVideopoker {                       /*cartas */
    width: 17vw;
    height: 6vh;
  }
}


